#logo {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

Pane {
    -fx-background-color: #222831;
}

.bouton, .palette, .labelGauche, .labelManche, .labelScore, #plateauVbox {
    -fx-background-color: #393E46;
}

.bouton {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-radius: 20;
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 18;
}

#gros {
    -fx-text-fill: rgba(238, 238, 238, 0.93);
    -fx-effect: dropshadow(three-pass-box, rgba(238, 238, 238, 0.76), 10, 0, 0, 0);
}


.button:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;

}

.palette > .button:hover {
    -fx-border-color: #FFD369;
    -fx-border-radius: 30;
}

#changerButton {
    -fx-text-fill: #FFD369;
}

.palette {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-radius: 20;
}


.labelDroite {
    -fx-text-fill: #EEEEEE;
}

.endingLabels {
    -fx-font-size: 25px;
    -fx-text-fill: white;
}


#winnerLabel {
    -fx-font-size: 20;
}

.labelTitle {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-color: #393E46;
    -fx-background-radius: 20;
    -fx-text-fill: #FFD369;
}

.labelGauche, .labelManche {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-radius: 20;

    -fx-text-fill: #EEEEEE;
    -fx-font-size: 20;
}

#endingLabel {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-color: #393E46;
    -fx-background-radius: 20;
    -fx-text-fill: #FFD369;
}
#menuForegroundPane {
    -fx-background-color: transparent;
}

.menuBoutons {
    -fx-border-color: rgba(0, 0, 0, 0.8);
    -fx-border-width: 2;
    -fx-border-radius: 20;
}
.menuBoutons:hover {
    -fx-border-color: rgba(253, 220, 89, 0.8);
}

.labelGauche {
    -fx-font-size: 15;
}

Pane > .labelScore {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

Pane > .labelScore > .labelScore {
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-font-size: 20px;
}

.labelScore {
    -fx-background-radius: 20;
    -fx-text-: "arcade";
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 26;
}

.sliderBienPlaces {
    -fx-control-inner-background: green;

}

.sliderMalPlaces {
    -fx-control-inner-background: red;
}

#start {
    -fx-text-fill: #588C73;
}


#boutonEffacer {
    -fx-text-fill: #EC625F;
}

#boutonValider {
    -fx-text-fill: #588C73;
}

#boutonQuitter {
    -fx-text-fill: #EC625F;
}

.labelMenu {

}

#logo_Joueur {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}